.banner {
	width: 100%;
	height: 120px;
	background-color: black;
	color: white;
	text-align: center;
}

.banner h1 {
	padding: 25px 0 5px 0;
}

.banner span{
    color: red;
}

@media (max-width: 480px){
	.banner{
		margin-top: 20%;
		font-size: 14px;
		height: 100px;
	}
	.banner h1 {
		font-size: 22px;
	}
}