.box {
	display: grid;
	grid-template-columns: 45% 8% 40%;
	text-align: center;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	height: 40px;
	align-items: center;
}
