.navbar {
	width: 100%;
	height: 80px;
	/* background-color: aquamarine; */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
}

.logoDiv {
	display: flex;
	justify-content: space-between;
}

.logoDiv img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.logoDiv p {
	font-weight: bold;
}

.linkDiv a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1rem;
	margin: 0 5px 0 5px;
	padding: 5px 8px;
	color: black;
	transition: all 0.3s ease-in-out;
}

.linkDiv a:hover {
	background-color: black;
	color: white;
	border-radius: 5px;
}

.linkDiv button {
	display: none;
}

.buttonDiv .signInBtn {
	background-color: white;
	color: red;
}

/* .buttonDiv .signInBtn:hover {
	background-color: red;
	color: white;
} */

.burgerMenuIcons {
	display: none;
}

@media (max-width: 480px) {
	.navbar {
		justify-content: space-between;
	}
	.buttonDiv {
		display: none;
	}

	.burgerMenuIcons {
		display: block;
		cursor: pointer;
		position: relative;
	}
	.burgerMenuIcons i {
		font-size: 1.2rem;
	}

	.linkDiv {
		position: absolute;
		background-color: rgb(255, 0, 0);
		width: 110%;
		height: 250px;
		/* left: -150%; */
		top: -500px;
	}

	.linkDiv.active {
		top: 70px;
		opacity: 1;
		z-index: 1;
		transition: 0.3s ease-in-out;
	}

	.linkDiv a {
		position: relative;
		display: block;
		color: white;
	}

	.linkDiv a:hover {
		background-color: white;
		color: red;
	}

	.linkDiv button {
		display: inline-block;
		box-shadow: 1px 1px 3px black;
		margin-top: 8px;
	}
}
