.VehicleModels {
	width: 70%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 15%;
}

.VehicleModels .titleDiv {
	text-align: center;
    width: 50%;
    position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.titleDiv h1 {
	padding: 5px 0;
}

@media (max-width: 480px){
	.VehicleModels{
		width: 90%;
	}

	.VehicleModels .titleDiv{
		width: 100%;
	}
}

